@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* .body{
    font-family: 'Poppins', sans-serif;
}   */

body {
    background-color: #dce35b;
}

a {
    text-decoration: none;

}


.logo{
height: 100%;
}

.header{
    background: #dce35b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dce35b, #45b649); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #dce35b, #45b649);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 15px;
}

.nav-list{
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-item {
    text-align: center;
    display: flex;
}

.nav-link{
    color: black ;
    font-family: "Lato" , sans-serif;
}
.nav-link:hover{
    text-decoration: none;
    color: yellow;
}


.cannabis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 60px;
}

.can {
    width: 330px;
    height: auto;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.5)
}

.bis__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bis__text h1 {
    font-family: "Lato", sans-serif;
    font-weight:900;
    font-size: 2rem;
}

.bis__text p {
    max-width: 450px;
    border-radius: 2px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
 }

 .text__btns {
     margin-top: 1rem;
     display: flex;
     gap: 10px;
 }

 .btn {
     border: 2px solid #000000;
     padding: 1rem 1.3rem;
     border-radius: 10px;
     font-weight: 600;
     font-family: "Lato", sans-serif;

 }

 .btn__cta {
     background: rgb(2, 79, 2);
     color: #dce35b;
 }

 .btn__more {
     color: #1e1e1e
}

.cannabis__cannabis {
    display: flex;
    /* background-color: red;  */
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 100%;


}

.intro_text {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 300px;  */
    text-align: center;
    max-width: 100%;

}

.intro_text p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #1e1e1e;
    max-width: 578px;
    /* background-color: red;  */
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 480px) {
    /* menu */
 .header {
     display: flex;
     flex-direction: column;
     width: 90%;
     height: 100%;
     margin: auto;

}
 .nav {
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 1.5rem 1rem ;
     /* background-color: red; */
 }

.nav-item{
    margin-top: auto;
   padding-left: auto;
}



.intro_text {
    display: flex;
    flex-direction: column;
   margin-top: 4rem;
   padding: 0 1rem 0 1rem;
}

.cannabis {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}

.bis__text {
   max-width: 100%;
   padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

.cannabis__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.logo {
    height: 5rem;
    padding: 0 1rem;
    max-width: 100%;
}


}